div {
	&:hover {
		display: flex;
		// Test comment
	}
}

// 1
div {
	&:hover {
		display: flex;
		// Test comment, no problem
	}
}
// 2
div {
	&:hover {
		display: flex;
		// justify-content: center;justify-content
	}
}

// 3
div {
	&:hover {
		// display:flex;displaydisplay
		display:flex;display
	}
}
